{% extends 'base.html' %}

{% block title %}Listpage{% endblock %}

{% block content %}
    <h2>List všech článků</h2>
    <div class="articles-list">
        {% for article in articles %}
            <div class="article-item">
                <a href={% url "blog:article_detail" article.pk %} class="article-title-link"><h3>{{ article.title }}</h3></a>
                <div class="article-content">
                    <p>{{ article.content|truncatewords:20 }}</p>
                    <img src="{{ article.image_thumb.url }}" alt="{{ article.title }}">
                </div>
                <div class="article-tags">
                    {% for tag in article.tags.all %}
                    <a href="{% url "blog:articles_by_tag" tag.name %}" class="tag">{{ tag.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}